<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdministrareAsociatie.Properties.Settings.ConturiBancareConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ConturiBancare.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
        <add name="AdministrareAsociatie.Properties.Settings.AdministrareDBConnectionString" connectionString="Data Source=DESKTOP-S6R1JDF\SQLEXPRESS;Initial Catalog=AdministrareDB;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>